@*@model IEnumerable<WebSonASP.Models.Son>

@{
    ViewData["Title"] = "danhMucSanPham";
    Layout = "~/Views/Shared/_Layout.cshtml";
        QLSONContext db = new WebSonASP.Models.QLSONContext();
}
<body>

    <header id="header" class="fixed-top d-flex align-items-center ">
        <div class="container d-flex justify-content-between align-items-center">

            <div class="logo">
                <h1 class="text-light">
                    <a href="@Url.Action("Index","Home")"><img src="~/assets/img/Web/icon.png" alt="" class="img-thumbnail"></a>
                    <a href="@Url.Action("Index","Home")"><span>FUNASA</span></a>
                </h1>
                <!-- Uncomment below if you prefer to use an image logo -->
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li><a href="@Url.Action("about","Son")">Giới thiệu</a></li>
                    <li><a href="@Url.Action("services","Son")">Hỗ trợ</a></li>
                    <li><a href="@Url.Action("portfolio","Son")">Bảng Sơn</a></li>
                    <li><a href="@Url.Action("team","Son")">Đội ngũ</a></li>
                    <li><a href="@Url.Action("blog","Son")">Tin tức</a></li>
                    <li class="dropdown">
                        <a class="active" href="@Url.Action("danhMucSanPham","Son")"><span>Sản phẩm</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            @foreach (var item in db.Sons.ToList())
                            {
                                <li><a asp-controller="Son" asp-action="chiTietSanPham" asp-route-id="@item.Id">@item.Ten</a></li>
                            }
                        </ul>
                    </li>
                    <li><a href="@Url.Action("contact","Son")">Liên hệ</a></li>
                    <!--<li><a class="single" href="tel:+0384 539 162">Liên hệ: 0384 539 162</a></li>--test tell-->
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= Blog Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Tin Tức</h2>

                    <ol>
                        <li><a href="@Url.Action("Index","Home")">Trang Chủ</a></li>
                        <li>Danh mục sản phẩm</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Blog Section -->
        <!-- ======= Blog Section ======= -->
        <section id="blog" class="blog">
            <div class="container" data-aos="fade-up">

                <div class="row">

                    <div class="col-lg-8 entries">
                        @foreach (var item1 in db.Sons.ToList())
                        {
                            <article class="entry">

                            <div class="entry-img">
                                <img src="~/assets/img/SanPham/@item1.Hinhanh" alt="" class="img-fluid">
                            </div>

                            <h2 class="entry-title">
                                @item1.Huongdansd
                            </h2>
                            <div class="entry-content">
                                <p>
                                     @item1.Congdung
                                </p>
                                <div class="read-more">
                                        <a asp-controller="Son" asp-action="chiTietSanPham" asp-route-id="@item1.Id">Chi tiết</a>
                                </div>
                            </div>

                        </article><!-- End blog entry -->
                        }
                        <div class="blog-pagination">
                            <ul class="justify-content-center">
                                <li><a href="#">1</a></li>
                                <li class="active"><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                            </ul>
                        </div>

                    </div><!-- End blog entries list -->

                    <div class="col-lg-4">

                        <div class="sidebar">
                            <h3 class="sidebar-title">Tìm kiếm</h3>
                            <div class="sidebar-item search-form">
                                <form action="">
                                    <input type="text">
                                    <button type="submit"><i class="bi bi-search"></i></button>
                                </form>
                            </div><!-- End sidebar search formn-->
                            <h3 class="sidebar-title">Các sản phầm khác</h3>
                            <div class="sidebar-item recent-posts">

                            @foreach(var item in db.Sons.ToList())
                            {
                                 <div class="post-item clearfix">
                                    <img src="~/assets/img/SanPham/@item.Hinhanh" alt="">
                                        <h4><a asp-controller="Son" asp-action="chiTietSanPham" asp-route-id="@item.Id">@item.Ten</a></h4>
                                </div>
                            }
                            </div><!-- End sidebar recent posts-->
                        </div><!-- End sidebar -->

                    </div><!-- End blog sidebar -->

                </div>
            </div>
        </section><!-- End Blog Section -->
    </main><!-- End #main -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>

</body>

*@